In [2]:
import pandas as pd
import numpy as np

from sklearn.datasets import load_iris

import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
iris = load_iris()
data = iris.data
target = iris.target
target_names = iris.target_names
columns = iris.feature_names

In [5]:
df = pd.DataFrame(data, columns=columns)
df['target'] = target
df['target_names'] = df['target'].apply(lambda x: target_names[x])
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,target_names
0,5.1,3.5,1.4,0.2,0,setosa
1,4.9,3.0,1.4,0.2,0,setosa
2,4.7,3.2,1.3,0.2,0,setosa
3,4.6,3.1,1.5,0.2,0,setosa
4,5.0,3.6,1.4,0.2,0,setosa